@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@font-face {
  font-family: "aloevera";
  src: url("/fonts/TTF/AloeveraDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aloevera";
  src: url("/fonts/TTF/AloeveraDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "aloevera";
  src: url("/fonts/TTF/AloeveraDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* a{
  display: inline-block;
} */
p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

:root {
  --primary-list-text: #334155;
  --primary-text-brown: #292929;
  --secondary-text-brown: #666666;
  --primary-green: #01ba77;
  --primary-dark-blue: #082544;
  --primary-bg: #f9fafb;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--primary-dark-blue);
}

h1 span {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

h2 {
  color: var(--primary-green);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

a {
  color: unset;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  font-family: "aloevera";
  /* transition: all 300ms ease; */
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* transition: 0.3s all; */
}

/* --------scroll effect------ */
.hidden {
  opacity: 0;
  transition: all 1s;
  transform: translatey(-100%);
}

.show {
  opacity: 1;
  transform: translatey(0%);
}

/* ------------swiper---------- */
.swiper {
  padding: 5px !important;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-wrapper {
  margin-bottom: 54px;
}

.swiper-pagination-bullet {
  transition: 0.3s all;
  border-radius: 0 !important;
  width: 24px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-green) !important;
  width: 54px !important;
}

/* ------------swiper---------- */
body {
  font-family: "Aloevera", sans-serif;
}

.container {
  width: 95%;
}

/* common class to hide at dektop view, nd display below 1000px vw */
.mobile {
  display: none;
}

/* -----------------------header----------------------------- */
header {
  padding: 10px;
}

header .container {
  padding: 0;
}

.offcanvas .links {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.offcanvas .icons {
  display: flex;
  gap: 34px;
  flex-direction: column;
  align-items: center;
}

.offcanvas-body {
  gap: 90px;
  display: flex;
  flex-direction: column;
}

.offcanvas-body .buttons {
  flex-direction: column;
  display: flex;
  gap: 34px;
}

.offcanvas-btn {
  display: none;
}

.nav .signUp {
  margin-right: 16px;
}

#profile-icon {
  margin-right: 22px;
}

.signUp,
.offcanvas-body .signUp {
  padding: 18px 20px;
  display: inline-block;
  border: 1px 0px 0px 0px;
  transition: 0.3s all ease;
  border: 1px solid var(--primary-green);
  color: var(--primary-green);
  font-size: 16px;
  font-weight: 600;
  line-height: 0.5;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.signUp:hover,
.offcanvas-body .signUp:hover {
  transform: scale(1.05);
  border: 1px solid transparent;
  color: white;
  background-color: var(--primary-green);
}

.shopNow,
.offcanvas-body .shopNow {
  display: inline-block;
  border: 1px solid transparent;
  transition: 0.3s all ease;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.5;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 18.5px 20px 18.5px 20px;
  background-color: var(--primary-green);
  color: white;
}

.shopNow:hover,
.offcanvas-body .shopNow:hover {
  transform: scale(1.05);
  background-color: white;
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* font-family: Aloevera Display; */
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.nav .header .icons {
  display: flex;
  gap: 12px;
}

.nav .links {
  display: flex;
  gap: clamp(0.313rem, -2.083rem + 4.259vw, 1.75rem);
}

.nav .links a {
  border-bottom: 2px solid transparent;
}

.nav .links a:hover {
  color: var(--primary-dark-blue);
  font-weight: 600;
  border-bottom: 2px solid var(--primary-dark-blue);
}

.appStoreLinks {
  font-family: Sora;
  font-weight: 400;
  font-size: 12px;
  leading-trim: Cap height;
  line-height: 1.25;
  letter-spacing: 0px;
  text-align: center;
}

.appStoreLinks span {
  font-family: Sora;
  font-weight: 600;
  font-size: 20px;
  leading-trim: Cap height;
  line-height: 1.25;
  letter-spacing: 0px;
  text-align: center;
}

.appStoreLinks a:hover {
  transform: scale(1.05);
}

.appStoreLinks a:hover .icon {
  transform: scale(1.3);
}

/* ----------------hero------------------ */
.hero {
  color: white;
  /* background: linear-gradient(red, blue); */
  background: linear-gradient(0deg, #082544, #082544), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 111.46%);
  position: relative;
  /* padding: 16% 0px; */
  margin-bottom: 40px;
}
.hero .sideSocialIcons a {
  transition: 0.2s all;
}
.hero .sideSocialIcons a:hover {
  transform: scale(1.05) rotate(15deg);
}
.hero .appStoreLinks a:hover {
  transform: scale(1.05);
}
.hero .appStoreLinks a:hover .icon {
  transform: scale(1.3);
}
.hero .scroll-container.container {
  position: relative;
}
.hero .goGreen h3:first-of-type span {
  margin: 0 5px 0;
}
.hero .sideLinks {
  margin: auto;
  align-items: center;
}
.hero .vertical-line:first-of-type {
  margin-bottom: 17px;
}
.hero .vertical-line:last-of-type {
  margin-top: 17px;
}
.hero #scroll-icon {
  position: absolute;
  bottom: 49px;
  right: 0.7%;
  z-index: 3;
}

.goGreen {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.hero h1 {
  max-width: 700px;
  font-size: 60px;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -1.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 40px;
}

.hero #downloadJn {
  opacity: 0.8;
  margin-bottom: 24px;
}

.hero h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.04;
  text-align: start;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.hero h1 span {
  font-size: 60px;
  font-weight: 200;
  line-height: 130%;
  letter-spacing: -1.5px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-weight: 700;
}

.sideSocialIcons {
  top: 0;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  display: flex;
  position: absolute;
  right: 1%;
}

.sideLinks {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.hero .heroBg {
  position: relative;
}

.hero-front-back-film {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #082544, #082544), linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 111.46%);
  opacity: 0.2;
}

.hero-front-film {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.hero-front-film img {
  width: 100%;
  height: 100%;
}

.hero .bgOverlay {
  width: 20%;
  top: 0;
  background-color: #2b3640;
  height: 100%;
  position: absolute;
}

.hero .bgImg {
  height: auto;
  width: 80%;
  position: relative;
  left: 20%;
}

.hero .headingText {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 6;
  margin-bottom: 24px;
  position: absolute;
}

.hero .headingText h1 {
  color: white;
}

.hero .appStoreLinks a, .appStoreLinks a {
  justify-content: center;
  align-items: center;
  gap: 13px;
  text-align: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  color: black !important;
  margin-right: 10px;
  background-color: white;
  padding: 12px 16px;
  transition: 0.3s ease;
  /* display: block; */
}

.hero .appStoreLinks {
  display: flex;
}

/* ---------------------tRANSFORMING----------- */
.transforming {
  margin-bottom: 60px;
}

.transforming h3 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--primary-dark-blue);
}

.transforming h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.82;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--primary-dark-blue);
}

.transforming h1 {
  color: var(--primary-dark-blue);
  /* font-family: "aloevera"; */
  font-size: 48px;
  /* font-weight: 300; */
  /* line-height: 1.2; */
  text-align: left;
  /* text-underline-position: from-font; */
  /* text-decoration-skip-ink: none; */
  margin-inline: auto;
  margin-bottom: 40px;
  /* margin: auto; */
  max-width: 520px;
  /* width: 100%; */
  text-align: center;
}

.transforming h1 span {
  font-family: "aloevera";
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.perks {
  justify-content: space-around;
  width: 100%;
  display: flex;
  text-align: center;
}

.perk {
  cursor: pointer;
  padding: 24px 12px;
  border-bottom: 2px solid rgba(1, 186, 119, 0.2);
}

.perk:hover {
  border-bottom: 2px solid var(--primary-green);
}

@media (max-width: 992px) {
  .transforming {
    margin-bottom: 30px;
  }
}
/* -------------------------About Us---------------- */
section.aboutUs div.container {
  display: flex !important;
}

.aboutUs #experience-12k {
  top: 2px;
  position: absolute;
  right: -15%;
  transition: 0.3s all ease;
}
.aboutUs #experience-12k:hover {
  scale: 1.1;
}
.aboutUs #refulingPerson2:hover {
  transform: rotate(-2deg);
}

.aboutUs {
  padding: 60px 0 130px;
  background-color: var(--primary-bg);
  margin-bottom: 60px;
}
.aboutUs .icon-container {
  border: 1px solid;
  border-radius: 50%;
  padding: 12px;
}

.aboutUs .container h1 {
  margin-bottom: 24px;
  margin-inline: auto;
  text-align: left;
}

.aboutUs .experienceImage {
  position: relative;
}

.aboutUs p {
  color: var(--primary-dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.aboutUs h2 {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--primary-green);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 12px;
}

#refulingPerson2 {
  bottom: -13%;
  right: -17%;
  position: absolute;
}

.aboutUs .innovations {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 60px 0 auto 125px;
}

.aboutUs .featureCards {
  display: flex;
  gap: 20px;
}

.aboutUs .featureCard:hover {
  scale: 1.1;
}

.aboutUs .experienceImage {
  height: -moz-fit-content;
  height: fit-content;
}

.aboutUs .featureCard {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 20px;
  padding: 16px;
  max-width: 218px;
  color: white;
  /* background: linear-gradient(red, blue); */
  background: linear-gradient(180deg, #02120c 0%, #067e52 100%);
  transition: 0.3s all ease;
}
.aboutUs .featureCard p {
  color: white;
  max-width: 186px;
}

@media (max-width: 992px) {
  .aboutUs .container {
    flex-direction: column;
  }
  .aboutUs .container .innovations {
    order: -1;
    margin: 60px 0 30px 0px;
  }
  .aboutUs .container .featureCards {
    justify-content: space-evenly;
  }
  .aboutUs .container #refulingPerson {
    width: 67%;
  }
  .aboutUs .container #refulingPerson2 {
    width: 41%;
    bottom: -7%;
    right: -1%;
    transition: 0.3s all ease;
  }
}
/* -----------------Discover------------- */
.discover {
  margin-bottom: 30px;
}
.discover h1 {
  max-width: 50%;
  margin: auto;
  margin-bottom: 40px;
}
.discover h2 {
  gap: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.discover .row.solutions {
  row-gap: 24px;
}
.discover .Card {
  flex-direction: column;
  display: flex;
  gap: 24px;
  height: 100%;
  background-color: #f3f4f6;
  transition: 0.3s background-color ease;
  padding: 32px;
}
.discover .Card:hover {
  scale: 1.01;
}
.discover .Card:hover a {
  color: white;
}
.discover .Card a {
  color: var(--primary-green);
}
.discover .Card p {
  color: #6b7280;
  max-width: 345px;
}
.discover .Card img {
  width: 60px;
  height: 60px;
}
.discover .Card:hover {
  box-shadow: 0px 4px 60px 0px rgba(1, 186, 119, 0.1607843137), 0px 4px 16px 0px rgba(1, 186, 119, 0.3019607843);
  background-color: var(--primary-green);
}
.discover .Card:hover svg path {
  fill: white;
}
.discover .Card:hover p {
  color: white;
}
.discover .Card:hover h3 {
  color: white;
}

/* ---------------------Join Now ------------------*/
.joinnow {
  padding: 60px 80px;
  margin-bottom: 60px;
  background-color: var(--primary-bg);
}
.joinnow .container {
  max-width: 1017px;
}
.joinnow a {
  font-size: 16px;
  line-height: 0.6;
}
.joinnow h2 {
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.joinnow h1 {
  margin-bottom: 40px;
}
.joinnow h4 {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.26;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-bottom: 30px;
  border-bottom: 1px solid #D1D5DB;
  margin-bottom: 30px;
  color: var(--primary-dark-blue);
}
.joinnow h4 span {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0px;
}
.joinnow h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.joinnow h5 {
  color: #D1D5DB;
}
.joinnow .features {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.joinnow ul {
  padding-left: 0;
}
.joinnow li {
  display: flex;
  align-items: center;
  color: #334155;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
}
.joinnow .Card {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  transition: 0.1 all;
}
.joinnow .Card:hover {
  scale: 1.05;
}
.joinnow .CardWObg:hover li {
  color: white;
}
.joinnow .CardWbg li {
  color: white;
}
.joinnow .CardWbg:hover li {
  color: var(--primary-dark-blue);
}
.joinnow .Card:hover {
  scale: 1.05;
}
.joinnow .Card li svg {
  margin-right: 5px;
}
.joinnow .CardWObg {
  border: 2px solid transparent;
  border-image-source: linear-gradient(335.82deg, #02120c 0.64%, #01ba77 100.69%);
  transition: 0.3s;
}
.joinnow .CardWObg a {
  background-color: var(--primary-green);
  color: white;
}
.joinnow .CardWObg:hover {
  background: linear-gradient(335.38deg, #063323 -16.02%, #01ba77 100.68%);
  color: white;
}
.joinnow .CardWObg:hover a {
  background-color: white;
  color: var(--primary-green);
}
.joinnow .CardWObg:hover h4 {
  color: white;
}
.joinnow .CardWObg:hover svg path {
  fill: white;
}
.joinnow .gradient-border {
  border: 2px solid;
  border-image-source: linear-gradient(335.82deg, #02120c 0.64%, #01ba77 100.69%);
  border-image-slice: 1;
}
.joinnow .CardWbg {
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  color: white;
  background-size: 100% 0%;
  background: linear-gradient(335.38deg, #063323 -16.02%, #01ba77 100.68%);
  transition: 0.3s ease;
}
.joinnow .CardWbg a {
  background-color: white;
  color: var(--primary-green);
}
.joinnow .CardWbg h4 {
  color: white;
}
.joinnow .CardWbg:hover {
  border: 2px solid;
  color: var(--primary-dark-blue);
  border-image-source: linear-gradient(335.82deg, #02120c 0.64%, #01ba77 100.69%);
  background-size: 0%;
  border-image-slice: 1;
  background: var(--primary-bg);
}
.joinnow .CardWbg:hover a {
  color: white;
  background-color: var(--primary-green);
}
.joinnow .CardWbg:hover h4 {
  color: var(--primary-dark-blue);
}
.joinnow a {
  text-align: center;
  padding: 18px 20px;
  width: 100%;
}
.joinnow .row {
  align-items: center;
}

/* ----------------impact----------------- */
.impact {
  margin-bottom: 60px;
}
.impact .heading {
  flex: 0 0 55%;
}
.impact h1 {
  text-align: left;
}
.impact .container {
  gap: 60px;
  display: flex;
}
.impact .pros {
  gap: 32px;
  display: flex;
}
.impact #bigPara {
  margin-bottom: 30px;
}
.impact h2 {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 12px;
}
.impact h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.22;
  letter-spacing: 0px;
}

/* ---------------------our features------------------- */
.ourFeatures {
  background-color: var(--primary-bg);
  padding: 60px 80px;
  /* .Card:hover{
    scale: 1.1;
    transform: rotateY(36deg);
  } */
}
.ourFeatures .car-image {
  position: relative;
}
.ourFeatures h1 {
  margin-inline: auto;
  max-width: 50%;
}
.ourFeatures .car-image img {
  width: 100%;
}
.ourFeatures h2 {
  gap: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourFeatures h3 {
  color: var(--secondary-text-brown);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.ourFeatures p {
  color: var(--secondary-text-brown);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.ourFeatures h1 {
  margin-bottom: 60px;
}
.ourFeatures .ev-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.ourFeatures .car-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -38%);
  /* transform: translate(-50%, -46%); */
  pointer-events: none;
}
.ourFeatures .card-container-left {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 91px;
  /* gap: 60px; */
}
.ourFeatures .card-container-right {
  z-index: 2;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 91px;
  /* gap: 60px; */
}
.ourFeatures .Card-left-top {
  margin-left: 139px;
}
.ourFeatures .Card-right-top {
  margin-right: 139px;
}
.ourFeatures .Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 263px;
  align-items: center;
  max-height: 193px;
}
.ourFeatures .floatingcard-img-container {
  margin-bottom: 18px;
}

/* -----------------------------mobile-app-------------- */
.mobile-app h2 {
  text-align: left;
}
.mobile-app h2,
.mobile-app li {
  margin-bottom: 12px;
}
.mobile-app h1 {
  text-align: left;
  margin-bottom: 24px;
}
.mobile-app p,
.mobile-app ul {
  margin-inline: auto;
  margin-bottom: 32px;
}
.mobile-app p,
.mobile-app li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0px;
}
.mobile-app .mobile-img {
  margin: auto;
}
.mobile-app .mobile-img img {
  width: 100%;
}
.mobile-app .container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  gap: 80px;
}
.mobile-app .appStoreLinks {
  display: flex;
}
.mobile-app ul {
  padding-left: 0px;
}
.mobile-app ul img {
  max-width: 17px;
  margin-right: 5px;
}
.mobile-app li {
  display: flex;
  align-items: start;
  list-style: none;
  transition: 0.3s all ease;
}
.mobile-app li:hover img {
  transform: rotateY(360deg);
}
.mobile-app a {
  /* padding: 12px 16px;
  display: flex; */
  background-color: black;
  /* margin-right: 16px;
  align-items: center;
  justify-content: center;
  gap: 8px; */
}
.mobile-app a .text {
  color: white;
}

/* ---------------------Products------------- */
.products {
  background-color: var(--primary-bg);
  padding: 60px 0;
}
.products .row {
  row-gap: 15px;
}
.products h2 {
  margin-bottom: 12px;
}
.products h1 {
  margin-bottom: 40px;
}
.products h4 {
  color: var(--primary-text-brown);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.15;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.products h3 {
  color: var(--primary-dark-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.products p {
  color: var(--secondary-text-brown);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.products .row .col-md-6:last-of-type {
  margin-inline: auto;
}
.products .Cards {
  display: flex;
  gap: 32px;
}
.products .Card img {
  width: 100%;
}
.products .Card {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0784313725);
  padding: 32px 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.products .desc h4 {
  margin-bottom: 20px;
}
.products h3 {
  margin-bottom: 8px;
}
.products a {
  color: white;
  text-align: center;
  padding: 18px 20px;
  background-color: var(--primary-green);
}

/* ----------------------------Blogs------------ */
.blogs {
  padding: 60px 0 118px;
}
.blogs h2,
.blogs h1 {
  text-align: left;
}
.blogs h1 {
  margin-bottom: 40px;
}
.blogs p {
  text-align: left;
  color: var(--secondary-text-brown);
}
.blogs h2 {
  margin-bottom: 12px;
}
.blogs h3 {
  color: var(--primary-dark-blue);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.blogs .shopNow {
  padding: 10px 0;
  line-height: 1;
  align-items: center;
  background-color: white;
  color: var(--primary-green);
}
.blogs .shopNow svg {
  margin-left: 5px;
}
.blogs .shopNow:hover {
  padding: 10px 10px;
  background-color: var(--primary-green);
  color: white;
}
.blogs .shopNow:hover svg path {
  fill: white;
}
.blogs .Cards {
  display: flex;
  gap: 32px;
}
.blogs .row {
  row-gap: 15px;
}
.blogs .Card {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.0784313725);
  display: flex;
  flex-direction: column;
}
.blogs .Card .blog-img {
  width: 100%;
  height: auto;
}
.blogs .Card-info {
  padding: 24px;
}
.blogs .desc {
  margin-bottom: 8px;
  /* padding: 0 30px */
}
.blogs .desc h4 {
  margin-bottom: 20px;
}
.blogs h3 {
  margin-bottom: 8px;
}
.blogs a {
  display: flex;
  align-items: baseline;
  color: white;
  text-align: left;
  color: var(--primary-green);
}
.blogs a img {
  margin-left: 8px;
}

/* ------------------------footer-------------------- */
footer {
  background-color: #f3f4f6;
  padding: 120px 0 80px 0px;
}
footer .mail {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .mail img {
  margin-right: 5px;
}
footer .subscribe h2 {
  color: white;
}
footer h1 {
  color: white;
}
footer .newsletter {
  display: flex;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -239%);
  background-color: #41cb5a;
  position: absolute;
  padding: 24px 32px;
  align-items: center;
  gap: 100px;
  padding: 30px 65px;
}
footer .newsletter .input-mail input {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.1;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 11px 16px;
  color: #cbd5e1;
}
footer .newsletter .input-mail input:focus {
  border: 1px solid var(--primary-green);
}
footer .newsletter .input-mail input::-moz-placeholder {
  text-align: start;
}
footer .newsletter .input-mail input::placeholder {
  text-align: start;
}
footer .newsletter .input-mail {
  display: flex;
}
footer .newsletter .input-mail label {
  align-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 0.1;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-left: -5px;
  padding: 18px 20px 16px;
  background-color: var(--primary-dark-blue);
}
footer .newsletter h1 {
  text-wrap: nowrap;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
footer .newsletter h1 span {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
footer .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer ul {
  gap: 20px;
  display: flex;
  list-style: none;
}
footer .logo {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
footer .quick-links h2 {
  margin-bottom: 20px;
}
footer .social-links h2 {
  margin-bottom: 30px;
}
footer label {
  color: white;
}
footer .social-links svg path {
  fill: var(--primary-dark-blue);
}

.footer-bottom {
  padding: 20px 0;
  background-color: #082544;
  color: white;
}
.footer-bottom .footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0px;
}
.footer-bottom .terms {
  margin-right: 32px;
}
.footer-bottom .terms-poicy {
  display: flex;
}

@media (min-width: 1280px) {
  .container {
    margin: auto;
    max-width: 1280px;
  }
}
@media (max-width: 1200px) {
  .appStoreLinks {
    font-size: 10px;
  }
  .appStoreLinks span {
    font-size: 13px;
  }
  .aboutUs p {
    font-size: 12px;
  }
  .nav .links {
    gap: 5px;
  }
  .mobile-app .container {
    gap: 20px;
  }
  .ourFeatures .car-image {
    top: 52%;
  }
  .ourFeatures .Card-left-top {
    margin-left: 50px;
  }
  .ourFeatures .Card-right-top {
    margin-right: 50px;
  }
  .ourFeatures .floatingcard-img-container {
    margin-bottom: 10px;
  }
  .products .Card h4 {
    line-height: 0.75;
    margin-bottom: 7px;
  }
  .products .Card {
    padding: 12px;
    gap: 13px;
  }
  .aboutUs .featureCard {
    padding: 12px;
  }
  .impact .pros {
    gap: 20px;
  }
  .impact .container {
    gap: 30px;
  }
  footer #footer-logo {
    width: 110px;
  }
  footer .newsletter {
    top: 12%;
    padding: 14px 9px;
    gap: 20px;
  }
  footer .newsletter h1 {
    font-size: 28px;
  }
  footer .quick-links ul {
    padding-inline-start: 0px;
    gap: 10px;
  }
  footer .social-links ul {
    padding-inline-start: 0px;
    gap: 5px;
  }
  footer .logo {
    gap: 25px;
  }
  footer .quick-links h2 {
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  .hero .appStoreLinks a, .appStoreLinks a {
    gap: 10px;
    padding: 7px;
  }
  .hero .appStoreLinks img, .appStoreLinks img {
    width: 22px;
  }
  .hero #scroll-icon {
    width: 22px;
  }
  .hero .sideLinks a img {
    width: 17px;
  }
  .hero .sideLinks img.vertical-line {
    display: none;
  }
  .hero #scroll-icon {
    bottom: 6px;
  }
  .sideLinks {
    gap: 7px;
  }
  .nav .signUp {
    margin-right: 6px;
  }
  .nav #profile-icon {
    margin-right: 6px;
  }
  .hero h1 {
    max-width: 560px;
  }
  .hero h1,
  .hero h1 span {
    font-size: 40px;
  }
  .nav {
    font-size: 12px;
  }
  .nav .icons img {
    width: 15px;
  }
  .nav .logo img {
    width: 125px;
    /* height: 36px; */
  }
  .nav .signUp,
  .nav .shopNow {
    font-size: 14px;
    padding: 12px 14px;
  }
  .aboutUs {
    padding: 0 0 130px;
  }
  .aboutUs #experience-12k {
    position: absolute;
    right: 27%;
  }
  .aboutUs h2 {
    justify-content: center;
  }
  .aboutUs .container h1 {
    text-align: center;
  }
  .aboutUs .featureCard {
    align-items: center;
  }
  .joinnow h3 {
    font-size: 16px;
  }
  .joinnow h4 {
    font-size: 30px;
  }
  .ourFeatures .ev-container {
    gap: 95px;
  }
  .ourFeatures .Card img {
    width: 45px;
  }
}
@media (max-width: 800px) {
  .blogs h1, .products h1 {
    margin-bottom: 20px;
  }
  h2 img {
    width: 20px;
  }
  .appStoreLinks a {
    padding: 7px 8px;
  }
  .appStoreLinks img {
    width: 20px;
  }
  .container {
    max-width: 90%;
  }
  h2:not(.quick-links h2, .social-links h2) {
    margin-bottom: 0px !important;
    font-size: 10px !important;
  }
  p,
  a {
    font-size: 14px !important;
  }
  li {
    font-size: 13px !important;
  }
  h1:not(.hero h1),
  h1 span:not(.hero h1 span) {
    font-size: 38px !important;
  }
  header {
    padding: 5px;
  }
  .hero .logo img {
    width: 80px;
  }
  .hero .text {
    font-size: 9px;
  }
  .hero h1,
  .hero h1 span {
    max-width: 368px;
    margin-bottom: 35px;
    font-size: 28px;
  }
  .hero h3 {
    font-size: 10px;
  }
  .hero .appStoreLinks a {
    padding: 7px 8px;
  }
  .hero .appStoreLinks img {
    width: 20px;
  }
  .hero .sideSocialIcons img {
    width: 16px;
  }
  .hero #downloadJn {
    margin-bottom: 11px;
  }
  .hero .goGreen {
    margin-bottom: 0px;
  }
  .mobile {
    display: block;
  }
  .offcanvas-btn {
    display: flex;
  }
  .nav .links,
  .nav .icons,
  .nav .buttons {
    display: none;
  }
  .nav .btn-close {
    display: block;
  }
  .transforming {
    margin-bottom: 40px;
  }
  .transforming h1 {
    margin-bottom: 0px;
  }
  .transforming h3 {
    font-size: 46px;
  }
  .transforming .perks {
    flex-direction: column;
    margin-inline: auto;
    width: 50%;
  }
  .transforming .perk:nth-child(1) {
    padding-top: 24px;
  }
  .transforming .perk {
    padding: 22px 12px 0px 24px;
  }
  .discover h3 {
    font-size: 11px;
  }
  .discover h1 {
    margin-bottom: 20px;
  }
  .discover .Card {
    gap: 11px;
    padding: 7px;
    align-items: center;
  }
  .discover .Card p {
    text-align: center;
  }
  .discover .Card svg {
    width: 35px;
  }
  .aboutUs {
    padding-bottom: 90px;
    margin-bottom: 30px;
  }
  .aboutUs #experience-12k {
    position: absolute;
    right: 28%;
    width: 15%;
  }
  .aboutUs h1 {
    margin-bottom: 17px;
  }
  .aboutUs h2 {
    justify-content: center;
  }
  .aboutUs .container .innovations {
    gap: 40px;
    margin-top: 30px;
  }
  .aboutUs .featureCard {
    gap: 12px;
    padding: 10px;
  }
  .mobile-app h1,
  .mobile-app h2, .mobile-app p {
    text-align: center;
  }
  .mobile-app .container {
    flex-direction: column;
    padding-top: 30px;
  }
  .mobile-app .mobile-app-text {
    display: flex;
    flex-direction: column;
    order: -1;
  }
  .mobile-app .appStoreLinks {
    align-self: center;
  }
  .mobile-app li {
    align-items: center;
    line-height: 1;
  }
  .ourFeatures {
    padding: 30px 0px;
  }
  .ourFeatures h1 {
    margin-bottom: 17px;
  }
  .ourFeatures .ev-container {
    gap: 0;
  }
  .ourFeatures .car-image {
    top: 55%;
  }
  .ourFeatures .Card-left-top {
    margin-left: 120px;
  }
  .ourFeatures .Card-right-top {
    margin-right: 120px;
  }
  .ourFeatures .card-container-right .Card-bottom {
    align-self: center;
  }
  .ourFeatures .Card h3 {
    max-width: 120px;
    font-size: 9px;
  }
  .ourFeatures .Card p {
    max-width: 100px;
    font-size: 7px !important;
  }
  .ourFeatures .floatingcard-img-container {
    margin-bottom: 5px;
  }
  .ourFeatures .floatingcard-img-container img {
    width: 32px;
  }
  .joinnow {
    padding: 30px 40px;
    margin-bottom: 30px;
  }
  .joinnow h1 {
    margin-bottom: 25px;
  }
  .joinnow h5 {
    text-align: center;
    font-size: 11px;
  }
  .joinnow .row {
    row-gap: 20px;
  }
  .joinnow h4 {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .joinnow .Card li {
    justify-content: center;
  }
  .impact {
    margin-bottom: 20px;
  }
  .impact h2 {
    justify-content: center;
  }
  .impact h1, .impact p {
    text-align: center;
  }
  .impact .pros {
    gap: 10px;
  }
  .impact .container {
    flex-direction: column;
  }
  .impact h3 {
    text-align: center;
  }
  .impact #bigPara {
    margin-bottom: 15px;
  }
  .products {
    padding: 30px 0;
  }
  .products .container {
    width: 56%;
  }
  .products h4, .products h3, .products p {
    text-align: center;
  }
  .products .Card {
    border-radius: 0 0 12px 12px;
    padding: 12px;
  }
  .blogs {
    padding-bottom: 75px;
    padding-top: 30px;
  }
  .blogs h3, .blogs p {
    text-align: center;
  }
  .blogs a {
    justify-content: center;
  }
  .blogs .container {
    width: 80%;
  }
  .blogs .Card {
    border-radius: 12px;
  }
  footer {
    padding: 40px 0 10px 0;
  }
  footer .newsletter {
    top: 19%;
    padding: 9px 13px;
  }
  footer .newsletter h1 {
    font-size: 17px !important;
  }
  footer .footer-content {
    flex-direction: column;
    gap: 34px;
  }
  footer .newsletter .input-mail input,
  footer .newsletter .input-mail label {
    font-size: 10px;
  }
  footer .logo {
    gap: 10px;
    margin: auto;
  }
  footer .quick-links ul,
  footer .social-links ul {
    justify-content: space-around;
  }
  footer .quick-links h2,
  footer .social-links h2 {
    margin-bottom: 7px;
  }
  footer .quick-links a,
  footer .social-links a {
    font-size: 12px !important;
  }
  .footer-bottom {
    padding: 10px 0;
  }
  .footer-bottom-content h3 .footer-bottom-content a {
    line-height: 1;
  }
  .footer-bottom-content h3 {
    font-size: 12px;
  }
  .footer-bottom-content a {
    font-size: 10px !important;
  }
}
.add{
  width: 100px;
}
@media (max-width: 593px) {
  .logo img{
    width: 100px;
  }
  .container {
    width: 97%;
  }
  .ourFeatures .Card-left-top {
    margin-left: 60px;
  }
  .ourFeatures .Card-right-top {
    margin-right: 60px;
  }
}
@media (max-width: 500px) {
  .products h3, .blogs h3 {
    font-size: 16px;
  }
  .blogs h1, .blogs h2 {
    text-align: center;
  }
  .sideLinks a img {
    width: 15px;
  }
  h2 img {
    scale: 0.75;
  }
  h2:not(.quick-links h2, .social-links h2) {
    font-size: 7px !important;
  }
  p,
  a,
  li {
    font-size: 8px !important;
  }
  h1:not(.hero h1),
  h1 span:not(.hero h1 span) {
    font-size: 15px !important;
  }
  .hero h1,
  .transforming h1,
  .aboutUs h1,
  .discover h1 {
    max-width: 216px;
  }
  .hero {
    margin-bottom: 25px;
  }
  .hero .sideLinks a img {
    width: 12px;
  }
  .hero #scroll-icon {
    width: 15px;
  }
  .hero a {
    gap: 3px;
  }
  .hero .logo img {
    width: 80px;
  }
  .hero .text {
    font-size: 5px;
  }
  .hero h1,
  .hero h1 span {
    margin-bottom: 20px;
    font-size: 19px;
    max-width: 250px;
  }
  .hero h3 {
    font-size: 10px;
  }
  .hero .appStoreLinks a {
    padding: 2px 3px;
  }
  .hero .sideLinks {
    gap: 11px;
  }
  .hero .appStoreLinks img {
    width: 15px;
  }
  .hero .sideSocialIcons img {
    width: 14px;
  }
  .transforming {
    margin-bottom: 25px;
  }
  .transforming h3 {
    font-size: 20px;
  }
  .transforming h4 {
    font-size: 8px;
  }
  .transforming .perks {
    width: 24%;
  }
  .transforming .perk:nth-child(1) {
    padding-top: 6px;
  }
  .transforming .perk {
    padding: 5px 0px 0px 0px;
  }
  .aboutUs {
    padding: 0px 0 60px;
    margin-bottom: 25px;
  }
  .aboutUs .container .innovations {
    gap: 30px;
    margin: 15px 0 20px 0px;
  }
  .aboutUs .container h1 {
    margin-bottom: 10px;
  }
  .aboutUs .featureCard {
    align-items: center;
    padding: 4px;
    gap: 4px;
  }
  .aboutUs .icon-container {
    padding: 5px;
  }
  .aboutUs .featureCard img {
    text-align: center;
    width: 13px;
  }
  .aboutUs .featureCard p {
    text-align: center;
    max-width: 80px;
  }
  .discover .row.solutions {
    row-gap: 15px;
  }
  .discover .Card svg {
    width: 27px;
  }
  .joinnow ul {
    padding-left: 0.75rem;
  }
  .joinnow .Card h4 {
    font-size: 19px;
  }
  .joinnow .Card h4 span, .joinnow .Card h3 {
    font-size: 11px;
  }
  .ourFeatures .ev-container {
    gap: 20px;
  }
  .ourFeatures .Card-left-top {
    margin-left: 40px;
  }
  .ourFeatures .Card-right-top {
    margin-right: 40px;
  }
  .ourFeatures .car-image {
    top: 50%;
  }
  .ourFeatures .floatingcard-img-container img {
    width: 25px;
  }
  .impact h3 {
    font-size: 21px;
  }
  .impact .Card img {
    width: 28px;
  }
  .products .container,
  .blogs .container {
    width: 80%;
  }
  footer .newsletter {
    top: 12%;
  }
  footer .newsletter h1 {
    font-size: 11px !important;
  }
  footer .newsletter h2 {
    font-size: 8px !important;
  }
  footer .quick-links ul {
    gap: 2px;
  }
  footer .quick-links a,
  footer .social-links a {
    font-size: 9px !important;
  }
  footer .newsletter .input-mail input,
  footer .newsletter .input-mail label {
    padding: 7px;
    font-size: 6px;
  }
  .footer-bottom-content h3 {
    font-size: 9px;
  }
}/*# sourceMappingURL=style.css.map */